/*Colors*/
:root {
    --dark-color: #414143;
    --medium-color: #2c2628;
    --light-color: #595456;
    --gray-color : #f2f2f4;
    --text-color: #5d5d5d;
}

.my-bg-dark {
    background: var(--dark-color);
}

.my-bg-medium {
    background: var(--medium-color);
}

.my-bg-light {
    background: var(--light-color);
}

.my-bg-gray {
    background: var(--gray-color);
}

.my-color-text {
    color: var(--text-color);
}

/*Reset du CSS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    color: var(--text-color);
    background: #828a90;
}

h1, h2, h3, h5, h6 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--medium-color);
}

.education i {
    float: left;
}

/* for top buttons */

.small-text {
    font-size: 13px;
}

@media only screen and (min-width: 768px) {
    .header {
        position: relative;
    }

    .banner-header {
        position: absolute;
        bottom: 0;
        opacity: 0.8;
        z-index: 1000;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column-reverse;
    }

    #sidebar {
        display: flex;
        flex-direction: column-reverse;
    }

}

.title-header {
    border-bottom: 2px solid #fff;
}

/*.title {*/
/*    border-bottom: 2px solid var(--light-color);*/
/*}*/

/* Sidebar title */
.title {
    width   : 200px;
    height  : 50px;
    position: relative;
    z-index : 1;
}

.title:before {
    content: "";
    position: absolute;
    right: -9px;
    top: 23%;
    height: 1px;
    width: 56%;
    border-bottom: 2px solid var(--light-color);
}

.site strong {
    font-size: 18px;
}

/* Center title */

.title-center {
    width   : 100%;
    height  : 50px;
    position: relative;
    z-index : 1;
}

.title-center:before {
    content: "";
    position: absolute;
    right: -2px;
    top: 62%;
    height: 1px;
    width: 56%;
    border-bottom: 2px solid var(--light-color);
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .title:before {
        top: 45%;
    }
}


/* Icons effects */

#competences img {
    filter: grayscale(100%);
}

#competences img:hover {
    filter: grayscale(0%);
}

/* BAck to top */

#go-top {
    position: fixed;
    bottom: 20px;
    right: 25px;
    font-size: 40px;
    color: #989898;
    text-align: center;
}

#go-top i {
    color: #3C3C3C;
}
